img{
    width: 100%;
  height: auto;
}
.heading{
    text-align: center;

}
.about-image{
    height:400px;
    
}
.secondDiv{
    text-align: center;
}
.footer{
   padding:30px;

    background-color: black;
    color:aliceblue;
}